@model INMETRO.REGOIAS.WEB.Models.IntegracaoOrganismo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h3>ADICIONAR INTEGRAÇÃO</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Organismo ID</label>
                <div class="col-md-10">
                    <select asp-for="OrganismoId" class="form-control" asp-items="@(new	SelectList(@ViewBag.Organismos,	"Id",	"CodigoOIA"))"></select>
                </div>
            </div><br />
            @*<div class="form-group">
            <label asp-for="DiretorioInspecao" class="control-label">Diretório Organismo</label>
            <div class="col-md-10">
            <input asp-for="DiretorioInspecao" class="form-control" />
            <span asp-validation-for="DiretorioInspecao" class="text-danger"></span>
        </div>
        </div><br/>*@
            <div class="form-group">
                <label asp-for="TipoIntegracao" class="control-label">Tipo de Integração</label>
                <div class="col-md-10">
                    <input asp-for="TipoIntegracao" class="form-control" />
                    <span asp-validation-for="TipoIntegracao" class="text-danger"></span>
                </div>
            </div><br />
            @*<div class="form-group">
                <label asp-for="DiretorioInspecaoLocal" class="control-label">Diretório Local</label>
                <div class="col-md-10">
                    <input asp-for="DiretorioInspecaoLocal" class="form-control" />
                    <span asp-validation-for="DiretorioInspecaoLocal" class="text-danger"></span>
                </div>
            </div><br />*@
            <div class="form-group">
                <label asp-for="HostURI" class="control-label">Url Organismo</label>
                <div class="col-md-10">
                    <input asp-for="HostURI" class="form-control" />
                    <span asp-validation-for="HostURI" class="text-danger"></span>
                </div>
            </div><br />
            @*<div class="form-group">
                <label asp-for="Porta" class="control-label">Porta</label>
                <div class="col-md-10">
                    <input asp-for="Porta" class="form-control" />
                    <span asp-validation-for="Porta" class="text-danger"></span>
                </div>
            </div><br />*@
            <div class="form-group">
                <label asp-for="Usuario" class="control-label">Usuário</label>
                <div class="col-md-10">
                    <input asp-for="Usuario" class="form-control" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
            </div><br />
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha</label>
                <div class="col-md-10">
                    <input asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
            </div><br />
            <div class="form-group">
                <label asp-for="PrivateKey" class="control-label">Private Key</label>
                <div class="col-md-10">
                    <input asp-for="PrivateKey" class="form-control" />
                    <span asp-validation-for="PrivateKey" class="text-danger"></span>
                </div>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar Lista de Integração</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
